{
  "plugins": [
    "prettier-plugin-jsdoc",
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["tv"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
