[package]
name = "koso"
version = "0.1.0"
edition = "2024"

# Target built docker to speed up dependency compilation.
# See Dockerfile.
[lib]
name = "build_backend_dummy"
path = "build/dummy.rs"

[dependencies]
axum = { version = "0.8.3", features = ["http2", "ws", "macros"] }
axum-extra = { version = "0.10.1", features = ["typed-header"] }
tokio = { version = "1.44.1", features = ["full"] }
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
uuid = { version = "1.16.0", features = [
    "v4",       # Lets you generate random UUIDs
    "fast-rng", # Use a faster (but still sufficiently random) RNG
] }
tower-http = { version = "0.6.2", features = [
    "fs",
    "trace",
    "timeout",
    "request-id",
] }
sqlx = { version = "0.8.3", features = ["runtime-tokio-rustls", "any", "postgres", "macros", "chrono"] }
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
listenfd = "1.0.2"
metrics = { version = "0.24.1", default-features = false }
metrics-exporter-prometheus = { version = "0.16.2", default-features = false }
futures = "0.3.31"
yrs = { version = "0.23.0", features = ["sync"] }
tokio-util = { version = "0.7.14", features = ["rt"] }
jsonwebtoken = "9.3.1"
reqwest = { version = "0.12.15", features = ["json"] }
base64 = "0.22.1"
dashmap = "6.1.0"
anyhow = "1.0.97"
rand = "0.9.0"
tower = "0.5.2"
similar = "2.7.0"
chrono = { version = "0.4.40", features = ["serde"] }
octocrab = "0.44.0"
hmac = "0.12.1"
hex = "0.4.3"
sha2 = "0.10.8"
async-trait = "0.1.88"
# TODO: Teloxide is broken at 0.14.1. Stop using the patched version when fixed in https://github.com/teloxide/teloxide/issues/1236
teloxide = { git = "https://github.com/kyle-leonhard/teloxide.git", rev = "ff5c99d91d7dde6de32becc6f48f98d789ddc736", features = ["macros"] }
config = { version = "0.15.11", default-features = false, features = ["json"] }

[dev-dependencies]
test-log = { version = "0.2.17", features = ["trace", "color"] }
tokio-tungstenite = { version = "0.26.2", features = ["url"] }
tungstenite = "0.26.2"
rsa = "0.9.8"
