[package]
name = "koso"
version = "0.1.0"
edition = "2024"

# Target built docker to speed up dependency compilation.
# See Dockerfile.
[lib]
name = "build_backend_dummy"
path = "build/dummy.rs"

[dependencies]
axum = { version = "0.8.4", features = ["http2", "ws", "macros"] }
axum-extra = { version = "0.10.1", features = ["typed-header"] }
tokio = { version = "1.45.1", features = ["full"] }
serde = { version = "1.0.219", features = ["derive"] }
serde_json = { version = "1.0.140", features = ["raw_value"] }
uuid = { version = "1.17.0", features = [
    "v4",       # Lets you generate random UUIDs
    "fast-rng", # Use a faster (but still sufficiently random) RNG
] }
tower-http = { version = "0.6.6", features = [
    "fs",
    "trace",
    "timeout",
    "request-id",
] }
sqlx = { version = "0.8.6", features = ["runtime-tokio-rustls", "any", "postgres", "macros", "chrono"] }
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
listenfd = "1.0.2"
metrics = { version = "0.24.2", default-features = false }
metrics-exporter-prometheus = { version = "0.17.2", default-features = false }
futures = "0.3.31"
yrs = { version = "0.24.0", features = ["sync"] }
tokio-util = { version = "0.7.15", features = ["rt"] }
jsonwebtoken = "9.3.1"
reqwest = { version = "0.12.20", features = ["json", "stream"] }
base64 = "0.22.1"
anyhow = "1.0.98"
rand = "0.9.1"
tower = "0.5.2"
similar = "2.7.0"
chrono = { version = "0.4.41", features = ["serde"] }
octocrab = "0.44.1"
hmac = "0.12.1"
hex = "0.4.3"
sha2 = "0.10.9"
async-trait = "0.1.88"
config = { version = "0.15.11", default-features = false, features = ["json"] }
regex = "1.11.1"
serde_qs = "1.0.0-rc.3"
ed25519-dalek = "2.1.1"
tokio-tungstenite = { version = "0.27.0" }
rmcp = { version = "0.2.0", features = ["server", "transport-io", "transport-streamable-http-server",     "transport-sse-server"] }

[dev-dependencies]
test-log = { version = "0.2.17", features = ["trace", "color"] }
tokio-tungstenite = { version = "0.27.0", features = ["url"] }
rsa = "0.9.8"
