[package]
name = "koso"
version = "0.1.0"
edition = "2021"

# Target built docker to speed up dependency compilation.
# See Dockerfile.
[lib]
name = "build_dummy"
path = "build/dummy.rs"

[dependencies]
axum = { version = "0.8.1", features = ["http2", "ws", "macros"] }
axum-extra = { version = "0.10.0", features = ["typed-header"] }
tokio = { version = "1.42.0", features = ["full"] }
serde = { version = "1.0.216", features = ["derive"] }
serde_json = "1.0.133"
uuid = { version = "1.11.0", features = [
    "v4",       # Lets you generate random UUIDs
    "fast-rng", # Use a faster (but still sufficiently random) RNG
] }
tower-http = { version = "0.6.2", features = [
    "fs",
    "trace",
    "timeout",
    "request-id",
] }
sqlx = { version = "0.8.2", features = ["runtime-tokio-rustls", "any", "postgres", "macros", "chrono"] }
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
listenfd = "1.0.1"
metrics = { version = "0.24.1", default-features = false }
metrics-exporter-prometheus = { version = "0.16.0", default-features = false }
futures = "0.3.31"
tokio-stream = "0.1.17"
async-stream = "0.3.6"
yrs = { git = "https://github.com/shadanan/y-crdt.git", branch = "debug", features = ["sync"] }
tokio-util = { version = "0.7.13", features = ["rt"] }
jsonwebtoken = "9.3.0"
reqwest = { version = "0.12.9", features = ["blocking", "json"] }
base64 = "0.22.1"
dashmap = "6.1.0"
anyhow = "1.0.94"
rand = "0.9.0"
tower = "0.5.2"
similar = "2.6.0"
chrono = { version = "0.4.39", features = ["serde"] }
octocrab = "0.43.0"
hmac = "0.12.1"
hex = "0.4.3"
sha2 = "0.10.8"
async-trait = "0.1.83"
teloxide = { version = "0.13.0", features = ["macros"] }

[dev-dependencies]
test-log = { version = "0.2.16", features = ["trace", "color"] }
tokio-tungstenite = { version = "0.26.0", features = ["url"] }
tungstenite = "0.26.0"
rsa = "0.9.7"
