[Unit]
Description=Koso service
After=network.target

[Service]
Restart=always
RestartSec=1
User=root
WorkingDirectory=/root/koso/backend
Environment="KOSO_IMAGE_DIGEST=main"
ExecStart=docker run \
    --env DATABASE_URL=postgresql://koso:koso@localhost/koso \
    --env GH_APP_KEY_PATH=/.secrets/github/key.pem \
    -v $HOME/.secrets/github/key.pem:/.secrets/github/key.pem \
    --network=host \
    --rm \
    ghcr.io/kosolabs/koso@${KOSO_IMAGE_DIGEST}

[Install]
WantedBy=multi-user.target
