[Unit]
Description=Koso service
After=network.target

[Service]
Restart=always
RestartSec=1
User=root
WorkingDirectory=/root/koso/backend
ExecStart=docker run --add-host host.docker.internal:host-gateway --env DATABASE_URL=postgresql://koso:koso@host.docker.internal/koso --publish 3000:3000 --publish 127.0.0.1:3001:3001 --rm -it ghcr.io/kosolabs/koso:main

[Install]
WantedBy=multi-user.target
