@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0deg 0% 100%;
    --foreground: 175deg 10% 5%;
    --card: 0deg 0% 100%;
    --card-foreground: 175deg 10% 5%;
    --popover: 0deg 0% 100%;
    --popover-foreground: 175deg 10% 5%;
    --primary: 175deg 75% 25%;
    --primary-foreground: 355 100% 98%;
    --secondary: 175deg 5% 95%;
    --secondary-foreground: 175deg 5% 10%;
    --muted: 175deg 5% 95%;
    --muted-foreground: 175deg 5% 45%;
    --accent: 175deg 5% 95%;
    --accent-foreground: 175deg 5% 10%;
    --destructive: 0deg 70% 50%;
    --destructive-foreground: 0deg 0% 98%;
    --border: 175deg 5% 90%;
    --input: 175deg 5% 90%;
    --ring: 175deg 75% 25%;
    --row-even: 175deg 5% 98%;
    --row-odd: 0deg 0% 100%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 175deg 15% 5%;
    --foreground: 0deg 0% 95%;
    --card: 175deg 10% 10%;
    --card-foreground: 0deg 0% 95%;
    --popover: 0deg 0% 9%;
    --popover-foreground: 0deg 0% 95%;
    --primary: 175deg 70% 45%;
    --primary-foreground: 145 80% 10%;
    --secondary: 175deg 5% 15%;
    --secondary-foreground: 0deg 0% 98%;
    --muted: 0deg 0% 15%;
    --muted-foreground: 175deg 5% 65%;
    --accent: 175deg 5% 15%;
    --accent-foreground: 0deg 0% 98%;
    --destructive: 0deg 60% 50%;
    --destructive-foreground: 0deg 85% 98%;
    --border: 175deg 5% 15%;
    --input: 175deg 5% 15%;
    --ring: 175deg 70% 30%;
    --row-even: 175deg 10% 7%;
    --row-odd: 175deg 15% 5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
