@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap")
layer(base);

@import "tailwindcss";

@config '../tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --background: 0deg 0% 100%;
    --foreground: 195deg 10% 5%;
    --card: 0deg 0% 100%;
    --card-foreground: 195deg 10% 5%;
    --popover: 0deg 0% 100%;
    --popover-foreground: 195deg 10% 5%;
    --primary: 195deg 75% 25%;
    --primary-foreground: 0deg 0% 100%;
    --secondary: 250deg 35% 60%;
    --secondary-foreground: 0deg 0% 100%;
    --muted: 195deg 5% 98%;
    --muted-foreground: 195deg 5% 45%;
    --accent: 195deg 5% 95%;
    --accent-foreground: 195deg 5% 10%;
    --destructive: 0deg 70% 50%;
    --destructive-foreground: 0deg 0% 98%;
    --border: 195deg 5% 90%;
    --input: 195deg 5% 90%;
    --ring: 195deg 75% 25%;
    --radius: 0.5rem;
    --sidebar-background: 0deg 0% 98%;
    --sidebar-foreground: 240deg 5% 25%;
    --sidebar-primary: 240deg 5% 10%;
    --sidebar-primary-foreground: 0deg 0% 98%;
    --sidebar-accent: 240deg 5% 95%;
    --sidebar-accent-foreground: 240deg 5% 10%;
    --sidebar-border: 220deg 15% 90%;
    --sidebar-ring: 220deg 90% 60%;
  }

  .dark {
    --background: 220deg 15% 10%;
    --foreground: 0deg 0% 95%;
    --card: 220deg 15% 15%;
    --card-foreground: 0deg 0% 95%;
    --popover: 0deg 0% 9%;
    --popover-foreground: 0deg 0% 95%;
    --primary: 195deg 70% 65%;
    --primary-foreground: 195deg 80% 10%;
    --secondary: 250deg 30% 75%;
    --secondary-foreground: 250deg 80% 10%;
    --muted: 220deg 15% 15%;
    --muted-foreground: 195deg 5% 65%;
    --accent: 220deg 15% 20%;
    --accent-foreground: 0deg 0% 98%;
    --destructive: 0deg 60% 50%;
    --destructive-foreground: 0deg 85% 98%;
    --border: 220deg 10% 25%;
    --input: 220deg 5% 15%;
    --ring: 195deg 70% 30%;
    --sidebar-background: 240deg 5% 10%;
    --sidebar-foreground: 240deg 5% 95%;
    --sidebar-primary: 225deg 75% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240deg 5% 15%;
    --sidebar-accent-foreground: 240deg 5% 95%;
    --sidebar-border: 240deg 5% 15%;
    --sidebar-ring: 220deg 90% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*
  Default button cursors: https://tailwindcss.com/docs/upgrade-guide#buttons-use-the-default-cursor
*/
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
