@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap")
layer(base);

@import "tailwindcss";

@config '../tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --md-sys-color-primary: rgb(17 102 130);
    --md-sys-color-surface-tint: rgb(17 102 130);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(189 233 255);
    --md-sys-color-on-primary-container: rgb(0 31 42);
    --md-sys-color-secondary: rgb(77 97 108);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(208 230 242);
    --md-sys-color-on-secondary-container: rgb(8 30 39);
    --md-sys-color-tertiary: rgb(93 91 125);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(227 223 255);
    --md-sys-color-on-tertiary-container: rgb(25 24 54);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(65 0 2);
    --md-sys-color-background: rgb(246 250 253);
    --md-sys-color-on-background: rgb(23 28 31);
    --md-sys-color-surface: rgb(246 250 253);
    --md-sys-color-on-surface: rgb(23 28 31);
    --md-sys-color-surface-variant: rgb(220 228 233);
    --md-sys-color-on-surface-variant: rgb(64 72 76);
    --md-sys-color-outline: rgb(112 120 125);
    --md-sys-color-outline-variant: rgb(192 200 205);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(44 49 52);
    --md-sys-color-inverse-on-surface: rgb(237 241 245);
    --md-sys-color-inverse-primary: rgb(139 208 239);
    --md-sys-color-primary-fixed: rgb(189 233 255);
    --md-sys-color-on-primary-fixed: rgb(0 31 42);
    --md-sys-color-primary-fixed-dim: rgb(139 208 239);
    --md-sys-color-on-primary-fixed-variant: rgb(0 77 100);
    --md-sys-color-secondary-fixed: rgb(208 230 242);
    --md-sys-color-on-secondary-fixed: rgb(8 30 39);
    --md-sys-color-secondary-fixed-dim: rgb(180 202 214);
    --md-sys-color-on-secondary-fixed-variant: rgb(53 74 83);
    --md-sys-color-tertiary-fixed: rgb(227 223 255);
    --md-sys-color-on-tertiary-fixed: rgb(25 24 54);
    --md-sys-color-tertiary-fixed-dim: rgb(198 194 234);
    --md-sys-color-on-tertiary-fixed-variant: rgb(69 67 100);
    --md-sys-color-surface-dim: rgb(214 219 222);
    --md-sys-color-surface-bright: rgb(246 250 253);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(240 244 248);
    --md-sys-color-surface-container: rgb(234 238 242);
    --md-sys-color-surface-container-high: rgb(228 233 236);
    --md-sys-color-surface-container-highest: rgb(223 227 231);
  }

  .dark {
    --md-sys-color-primary: rgb(139 208 239);
    --md-sys-color-surface-tint: rgb(139 208 239);
    --md-sys-color-on-primary: rgb(0 53 70);
    --md-sys-color-primary-container: rgb(0 77 100);
    --md-sys-color-on-primary-container: rgb(189 233 255);
    --md-sys-color-secondary: rgb(180 202 214);
    --md-sys-color-on-secondary: rgb(31 51 60);
    --md-sys-color-secondary-container: rgb(53 74 83);
    --md-sys-color-on-secondary-container: rgb(208 230 242);
    --md-sys-color-tertiary: rgb(198 194 234);
    --md-sys-color-on-tertiary: rgb(46 45 77);
    --md-sys-color-tertiary-container: rgb(69 67 100);
    --md-sys-color-on-tertiary-container: rgb(227 223 255);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(15 20 23);
    --md-sys-color-on-background: rgb(223 227 231);
    --md-sys-color-surface: rgb(15 20 23);
    --md-sys-color-on-surface: rgb(223 227 231);
    --md-sys-color-surface-variant: rgb(64 72 76);
    --md-sys-color-on-surface-variant: rgb(192 200 205);
    --md-sys-color-outline: rgb(138 146 151);
    --md-sys-color-outline-variant: rgb(64 72 76);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(223 227 231);
    --md-sys-color-inverse-on-surface: rgb(44 49 52);
    --md-sys-color-inverse-primary: rgb(17 102 130);
    --md-sys-color-primary-fixed: rgb(189 233 255);
    --md-sys-color-on-primary-fixed: rgb(0 31 42);
    --md-sys-color-primary-fixed-dim: rgb(139 208 239);
    --md-sys-color-on-primary-fixed-variant: rgb(0 77 100);
    --md-sys-color-secondary-fixed: rgb(208 230 242);
    --md-sys-color-on-secondary-fixed: rgb(8 30 39);
    --md-sys-color-secondary-fixed-dim: rgb(180 202 214);
    --md-sys-color-on-secondary-fixed-variant: rgb(53 74 83);
    --md-sys-color-tertiary-fixed: rgb(227 223 255);
    --md-sys-color-on-tertiary-fixed: rgb(25 24 54);
    --md-sys-color-tertiary-fixed-dim: rgb(198 194 234);
    --md-sys-color-on-tertiary-fixed-variant: rgb(69 67 100);
    --md-sys-color-surface-dim: rgb(15 20 23);
    --md-sys-color-surface-bright: rgb(53 58 61);
    --md-sys-color-surface-container-lowest: rgb(10 15 17);
    --md-sys-color-surface-container-low: rgb(23 28 31);
    --md-sys-color-surface-container: rgb(27 32 35);
    --md-sys-color-surface-container-high: rgb(38 43 45);
    --md-sys-color-surface-container-highest: rgb(48 53 56);
  }
}

@layer base {
  * {
    @apply border-m3-outline-variant;
  }
  body {
    @apply bg-m3-surface text-m3-on-surface;
  }
}

/*
  Default button cursors: https://tailwindcss.com/docs/upgrade-guide#buttons-use-the-default-cursor
*/
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
