name: Koso Deploy
on:
  push:
    branches:
      - main
    paths:
      - frontend/**
      - backend/**
      - Dockerfile
      - deploy.sh
      - .github/workflows/deploy.yml

  workflow_dispatch:
concurrency:
  group: workflow-${{ github.workflow }}
  cancel-in-progress: false
permissions:
  contents: read
jobs:
  build:
    uses: ./.github/workflows/ci.yml
    # Mirror the permissions set on build-and-push-image
    # as nested jobs inherit the permissions of the caller.
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
      pull-requests: read
    secrets: inherit
  deploy:
    runs-on: ubuntu-24.04
    needs: build
    permissions:
      packages: read
    environment:
      name: koso
      url: https://koso.app
    env:
      KOSO_IMAGE_DIGEST: ${{ needs.build.outputs.image_digest }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Deploy Koso
        uses: appleboy/ssh-action@823bd89e131d8d508129f9443cad5855e9ba96f0 # v1.2.4
        env:
          GHCR_USER: ${{ github.actor }}
          GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          host: koso.app
          username: root
          key: ${{ secrets.KOSO_KEY }}
          envs: GHCR_USER,GHCR_TOKEN,GITHUB_SHA,KOSO_IMAGE_DIGEST
          script_path: deploy.sh
      - name: Craft the success message
        id: success-message
        run: |
          echo "MSG=$(git log --format='✅ Deployed %h by %an - %s' -n 1 HEAD)" >> $GITHUB_OUTPUT
      - name: Craft the failure message
        if: failure()
        id: failure-message
        run: |
          {
            echo 'MSG<<EOFEOFMSGOUTPUT'
            git log --format='❌ Failed to deploy %h by %an - %s' -n 1 HEAD
            echo ""
            echo "$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID"
            echo EOFEOFMSGOUTPUT
          } >> "$GITHUB_OUTPUT"
      - name: Notify telegram
        uses: appleboy/telegram-action@221e6b684967abe813051ee4a37dd61770a83ad3 # v1.0.1
        if: always()
        with:
          to: ${{ secrets.TELEGRAM_CHAT_ID }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            ${{ steps.failure-message.outputs.MSG || steps.success-message.outputs.MSG }}
