name: Deploy
on:
  workflow_run:
    workflows: ["CI"]
    branches: [main]
    types:
      - completed
concurrency:
  group: workflow-${{ github.workflow }}
  cancel-in-progress: false
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: appleboy/ssh-action@v1.0.3
        with:
          host: koso.app
          username: root
          key: ${{ secrets.KEY }}
          script: |
            set -e
            cd /root/koso
            git reset --hard
            git clean -f -d
            git checkout main
            git pull
            ./deploy.sh
