name: Zero CI
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    paths:
      - zero/**
      - kosolib/**
      - .github/workflows/zero-ci.yml
concurrency:
  group: zero-ci-workflow-${{ github.workflow }}-ref-${{ github.ref }}-${{ github.event_name }}
  # Cancel in-progress workflows for PRs (but not main or tag builds).
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' &&  github.event_name != 'workflow_dispatch' }}

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      zero: ${{ steps.filter.outputs.zero }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            zero:
              - 'zero/**'
              - 'kosolib/**'
              - '.github/workflows/zero-ci.yml'

  # Generate matrix configurations for the build-and-test-tauri job.
  # This allows for a reduced configuration set for pull requests, optimizing build times
  # while building all platforms for release.
  define-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.result }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - id: set-matrix
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          script: |
            let res = [
             {
                platform: "macos-latest",
                target: "aarch64-apple-darwin",
                args: "--target aarch64-apple-darwin",
              },
             {
                platform: "ubuntu-latest",
                target: "x86_64-unknown-linux-gnu",
                args: "",
              }
            ];
            if (context.eventName == "pull_request") {
              return res;
            }
            return res.concat([
               {
                platform: "ubuntu-latest",
                target: "x86_64-unknown-linux-gnu",
                args: "",
              }
              // {
              //   platform: "macos-latest",
              //   target: "x86_64-apple-darwin",
              //   args: "--target x86_64-apple-darwin",
              // },
              // {
              //   platform: "windows-latest",
              //   target: "x86_64-pc-windows-msvc",
              //   args: "",
              // },
            ]);

  build-and-test-tauri:
    needs: [define-matrix, changes]
    if: ${{ needs.changes.outputs.zero != 'false' }}
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.define-matrix.outputs.matrix) }}
    runs-on: ${{ matrix.platform }}
    defaults:
      run:
        working-directory: ./zero
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-latest' # This must match the platform value defined above.
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      - name: Setup pnpm
        uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
        with:
          package_json_file: zero/package.json

      - name: Setup Node
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version-file: zero/.nvmrc
          cache: "pnpm"
          cache-dependency-path: zero/pnpm-lock.yaml

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@315e265cd78dad1e1dcf3a5074f6d6c47029d5aa # master
        with:
          toolchain: stable
          # Those targets are only used on macos runners so it's in an `if` to slightly speed up windows and linux builds.
          targets: ${{ matrix.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}

      - name: Rust build cache
        uses: Swatinem/rust-cache@82a92a6e8fbeee089604da2575dc567ae9ddeaab # v2.7.5
        with:
          workspaces: "./zero/src-tauri -> target"
      - run: RUST_BACKTRACE=full RUST_BACKTRACE=1 cargo test
        working-directory: ./zero/src-tauri
      - run: cargo clippy -- -D warnings
        working-directory: ./zero/src-tauri
      - run: cargo fmt -- --check
        working-directory: ./zero/src-tauri

      - name: Install frontend dependencies
        run: pnpm install
      - run: pnpm test

      # Build the tauri app when we are NOT performing a release.
      # Mutually exclusive with the build/archive steps below.
      - name: Build tauri app (non-release)
        id: build-non-release-tauri
        uses: tauri-apps/tauri-action@8c3e0753aa015d00d03631d6d4f64ad59489251d # v0.5.15
        if: ${{ github.event_name != 'workflow_dispatch' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          projectPath: "./zero"
          args: ${{ matrix.args }}
      - name: Archive tauri artifacts
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        if: ${{ github.event_name != 'workflow_dispatch' }}
        with:
          name: tauri-app-${{ matrix.target }}
          path: ${{ join(fromJson(steps.build-non-release-tauri.outputs.artifactPaths), fromJson('"\n"')) }}

      # Build the tauri app when we are performing a release.
      # Mutually exclusive with the build/archive steps above.
      - name: Build and publish tauri app (release)
        id: build-release-tauri
        uses: tauri-apps/tauri-action@8c3e0753aa015d00d03631d6d4f64ad59489251d # v0.5.15
        if: ${{ github.event_name == 'workflow_dispatch' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          projectPath: "./zero"
          args: ${{ matrix.args }}
          tagName: zero-v__VERSION__
          releaseName: "Zero v__VERSION__"
          releaseDraft: true
          prerelease: true
      - name: Archive tauri artifacts
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        if: ${{ github.event_name == 'workflow_dispatch' }}
        with:
          name: tauri-app-${{ matrix.target }}
          path: ${{ join(fromJson(steps.build-release-tauri.outputs.artifactPaths), fromJson('"\n"')) }}

  build-and-test-tauri-complete:
    needs: [build-and-test-tauri, changes]
    if: ${{ needs.changes.outputs.zero != 'false' }}
    runs-on: ubuntu-latest
    steps:
      - name: Complete
        run: echo "build-and-test-tauri-complete"
